In [1]:
import pandas as pd
import requests
import urllib3
import json
import yfinance as yf
from time import sleep
# Expand the display size
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [18]:
"""
import pandas as pd
import requests
import urllib3
import json
import yfinance as yf
from time import sleep

# Expand the display size
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Intrinio API limits quaterly data from 2009 to 2023
year_list =[2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]
quarter_list =['Q1','Q2','Q3','Q4']

dfs = pd.DataFrame()
#Initialize list to get columns and rows from Intrinio API http json data
columns_list = []
row_list = []
column_list_marker = 1
dfs = pd.DataFrame()

with open("raw_fundamentals_2.txt", "w") as fundamentals:
    pass
for year in year_list:
    for quarter in quarter_list:
        url = 'https://api-v2.intrinio.com/fundamentals/AAPL-calculations-'+str(year)+'-'+quarter+'/standardized_financials?api_key=OmFiNDZjYTUyMWM5ZTg2NjY1YjdlYzJhMDJmMDNlNTBk'
        http = urllib3.PoolManager()
        response = http.request('GET', url )
        data = response.data
        data = json.loads(data)
        with open("raw_fundamentals_2.txt", 'a') as fjson:
            fjson.write(str(data)+'\n')
            
        # Wwait a while before next call
        # The Intrinio Free API limits the number of calls per second
        sleep(2)

        if column_list_marker == 1:
            columns_list.append("Ticker")
            columns_list.append("Company Name")
            columns_list.append("Start date")
            columns_list.append("Start date_for_index")
            columns_list.append("End date")
            columns_list.append("Fiscal Year")
            columns_list.append("Fiscal Period")
        row_list.append(data["fundamental"]["company"]["ticker"])
        row_list.append(data["fundamental"]["company"]["name"])
        row_list.append(data["fundamental"]["start_date"])
        row_list.append(data["fundamental"]["start_date"])
        row_list.append(data["fundamental"]["end_date"])
        row_list.append(data["fundamental"]["fiscal_year"])
        row_list.append(data["fundamental"]["fiscal_period"])

        for i in range(len(data["standardized_financials"])- 1):
            if column_list_marker == 1:
                columns_list.append(data["standardized_financials"][i]['data_tag']['name'])
            row_list.append(data["standardized_financials"][i]['value'])

        # Stop getting column names after the 1st iteration
        column_list_marker = 0
        # Copy to the series
        df=pd.DataFrame(row_list,columns_list)
        # Copy series to dataframe
        dfs = pd.concat([dfs, df],axis=1)
        row_list=[]

# Tranpose to get correct format
dfs = dfs.T
##Drop the NaN 
#dfs = dfs.set_index(dfs['Start date_for_index'])
dfs = dfs.dropna()

#Save fundamental data
dfs.to_csv('data/aapl_fundamentals_2008-09-29_2022-06-24.csv',encoding='utf-8')

# Expand fundamentals from quarterly to daily to be equivalent to the stock stock price

#Get Apple Daily stock from 2000 to 2023
df = yf.download(tickers=['AAPL'], period='16y')
#aapl_stock_df = pd.read_csv('AAPL_STOCK_1980-2023.csv',index_col='Date',parse_dates=True,infer_datetime_format=True)
"""

[*********************100%***********************]  1 of 1 completed

In [2]:
dfs = pd.read_csv('data/aapl_fundamentals_2008-09-29_2022-06-24.csv',
                 index_col='Start date',
                 parse_dates=True,
                 infer_datetime_format=True)
# This will modify the `df` inplace. **And return a `None`**.
#dfs.drop('Start date_for_index.1', axis=1, inplace=True)  

# Expand the fundamentals to daily values
dfs = dfs.resample('D').ffill()
display(dfs.head(1))
#dfs.tail(1)

,Unnamed: 0,Ticker,Company Name,Start date_for_index,End date,Fiscal Year,Fiscal Period,Revenue Growth,Net Operating Profit after Tax (NOPAT),NOPAT Margin,Invested Capital,Invested Capital Turnover,Increase / (Decrease) in Invested Capital,Free Cash Flow to Firm (FCFF),Net Nonoperating Expense (NNE),Net Nonoperating Obligations (NNO),Earnings before Interest and Taxes (EBIT),Total Depreciation and Amortization (D&A),"Earnings before Interest, Taxes, Depreciation and Amortization (EBITDA)",Capital Expenditures (CapEx),"Debt-free, Cash-free Net Working Capital (DFCFNWC)",Debt-free Net Working Capital (DFNWC),Net Working Capital (NWC),Total Debt,Total Long-Term Debt,Net Debt,Total Capital,Book Value per Share,Tangible Book Value per Share,Market Capitalization,Enterprise Value (EV),Price to Book Value (P/BV),Price to Tangible Book Value (P/TBV),Price to Revenue (P/Rev),Price to Earnings (P/E),Dividend Yield,Earnings Yield,Enterprise Value to Invested Capital (EV/IC),Enterprise Value to Revenue (EV/Rev),Enterprise Value to EBITDA (EV/EBITDA),Enterprise Value to EBIT (EV/EBIT),Enterprise Value to NOPAT (EV/NOPAT),Enterprise Value to Operating Cash Flow (EV/OCF),Enterprise Value to Free Cash Flow (EV/FCFF),EBITDA Growth,EBIT Growth,NOPAT Growth,Net Income Growth,EPS Growth,Operating Cash Flow Growth,Free Cash Flow Firm Growth,Invested Capital Growth,Revenue Q/Q Growth,EBITDA Q/Q Growth,EBIT Q/Q Growth,NOPAT Q/Q Growth,Net Income Q/Q Growth,EPS Q/Q Growth,Operating Cash Flow Q/Q Growth,Free Cash Flow Firm Q/Q Growth,Invested Capital Q/Q Growth,Gross Margin,EBITDA Margin,Operating Margin,EBIT Margin,Profit (Net Income) Margin,Cost of Revenue to Revenue,SG&A Expenses to Revenue,R&D to Revenue,Operating Expenses to Revenue,Tax Burden Percent,Interest Burden Percent,Effective Tax Rate,Asset Turnover,Accounts Receivable Turnover,Inventory Turnover,Fixed Asset Turnover,Accounts Payable Turnover,Days Sales Outstanding (DSO),Days Inventory Outstanding (DIO),Days Payable Outstanding (DPO),Cash Conversion Cycle (CCC),Financial Leverage,Leverage Ratio,Compound Leverage Factor,Long-Term Debt to Equity,Debt to Equity,Return on Invested Capital (ROIC),Net Nonoperating Expense Percent (NNEP),ROIC Less NNEP Spread (ROIC-NNEP),Return on Net Nonoperating Assets (RNNOA),Return on Equity (ROE),Cash Return on Invested Capital (CROIC),Operating Return on Assets (OROA),Return on Assets (ROA),Noncontrolling Interest Sharing Ratio,Return on Common Equity (ROCE),Dividend Payout Ratio,Augmented Payout Ratio,Operating Cash Flow to CapEx,Short-Term Debt to Total Capital,Long-Term Debt to Total Capital,Debt to Total Capital,Preferred Equity to Total Capital,Noncontrolling Interests to Total Capital,Common Equity to Total Capital,Debt to EBITDA,Net Debt to EBITDA,Long-Term Debt to EBITDA,Debt to NOPAT,Net Debt to NOPAT,Long-Term Debt to NOPAT,Altman Z-Score,EBIT to Interest Expense,NOPAT to Interest Expense,EBIT Less CapEx to Interest Expense,NOPAT Less CapEx to Interest Expense,Operating Cash Flow to Interest Expense,Operating Cash Flow Less CapEx to Interest Expense,Free Cash Flow to Firm to Interest Expense,Current Ratio,Quick Ratio,"Debt-free, Cash-free Net Working Capital to Revenue",Debt-free Net Working Capital to Revenue,Net Working Capital to Revenue,Normalized Net Operating Profit after Tax (NOPAT),Normalized NOPAT Margin,Pre Tax Income Margin,Adjusted Weighted Average Basic Shares Outstanding,Adjusted Basic Earnings per Share,Adjusted Weighted Average Diluted Shares Outstanding,Adjusted Diluted Earnings per Share,Adjusted Weighted Average Basic & Diluted Shares Outstanding,Adjusted Basic & Diluted Earnings per Share
Start date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2008-09-28,0,AAPL,Apple Inc,2008-09-28,2008-12-27,2009,Q1,0.0,2.145675e+09,0.180612,0.0,0.0,0.0,0.0,-109324946.3,0.0,3.259000e+09,168000000.0,3.427000e+09,339000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.566631e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.08312,0.0,0.0,0.379377,0.288468,0.261027,0.274327,0.189815,0.620623,0.091835,0.026515,0.11835,0.69193,1.0,0.30807,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.616519,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.145675e+09,0.180612,0.274327,2.489598e+10,0.09,2.524183e+10,0.09,0.0,0.0

In [3]:
#list(dfs)

In [4]:
#aapl_fundamentals_df = dfs.filter(['Net Operating Profit after Tax (NOPAT)','NOPAT Margin','Net Nonoperating Expense (NNE)', 'Earnings before Interest and Taxes (EBIT)', 'Total Depreciation and Amortization (D&A)',	'Earnings before Interest', 'Depreciation and Amortization', '(EBITDA)','Capital Expenditures (CapEx)','Market Capitalization','Operating Cash Flow Q/Q Growth', 'Gross Margin', 'EBITDA Margin','Operating Margin','EBIT Margin','Profit (Net Income) Margin','Cost of Revenue to Revenue','SG&A Expenses to Revenue','R&D to Revenue','Operating Expenses to Revenue','Interest Burden Percent', 'Operating Cash Flow to CapEx','Normalized Net Operating Profit after Tax (NOPAT)','Normalized NOPAT Margin','Adjusted Weighted Average Basic Shares Outstanding','Adjusted Basic Earnings per Share','Adjusted Weighted Average Diluted Shares Outstanding','Adjusted Diluted Earnings per Share'])

In [5]:
#aapl_fundamentals_df = dfs.filter(['NOPAT Margin','Earnings before Interest and Taxes (EBIT)','Capital Expenditures (CapEx)','Market Capitalization','Operating Cash Flow Q/Q Growth','Gross Margin','EBITDA Margin','Operating Margin','EBIT Margin','Profit (Net Income) Margin','Cost of Revenue to Revenue','SG&A Expenses to Revenue','R&D to Revenue','Operating Expenses to Revenue', 'Operating Cash Flow to CapEx','Normalized Net Operating Profit after Tax (NOPAT)','Normalized NOPAT Margin','Adjusted Basic Earnings per Share'])
aapl_fundamentals_df = dfs.filter(['Market Capitalization','Operating Expenses to Revenue','Operating Cash Flow to CapEx'])
aapl_fundamentals_df.head()

            Market Capitalization  Operating Expenses to Revenue  Operating Cash Flow to CapEx
Start date
2008-09-28           6.566631e+10                        0.11835                     11.616519
2008-09-29           6.566631e+10                        0.11835                     11.616519
2008-09-30           6.566631e+10                        0.11835                     11.616519
2008-10-01           6.566631e+10                        0.11835                     11.616519
2008-10-02           6.566631e+10                        0.11835                     11.616519

In [6]:
#Get Apple Daily stock from 2000 to 2023
"""
aapl_stock_df = yf.download(tickers=['AAPL'], period='16y')
aapl_stock_df.df = aapl_stock_df.dropna()
aapl_stock_df = aapl_stock_df['2008-09-29':'2022-06-24']

aapl_stock_df.to_csv('data/aapl_stock_2008-09-29_2022_06_24_df')
"""
aapl_stock_df = pd.read_csv('data/aapl_stock_2008-09-29_2022_06_24_df',index_col='Date',parse_dates=True,infer_datetime_format=True)

aapl_stock_df.head(5)

[*********************100%***********************]  1 of 1 completed

C:\Users\bakar\AppData\Local\Temp\ipykernel_16708\107076532.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  aapl_stock_df.df = aapl_stock_df.dropna()

                Open      High       Low     Close  Adj Close      Volume
Date
2008-09-29  4.272143  4.274286  3.592500  3.759286   3.195178  2622057200
2008-09-30  3.866071  4.107143  3.796429  4.059286   3.450161  1626682400
2008-10-01  3.997143  4.012857  3.835357  3.897143   3.312349  1296484000
2008-10-02  3.857500  3.885357  3.571429  3.575000   3.038546  1609364400
2008-10-03  3.714286  3.803571  3.380357  3.466786   2.946569  2294398400

In [7]:
aapl_stock_df = pd.read_csv('data/aapl_stock_2008-09-29_2022_06_24_df',index_col='Date',parse_dates=True,infer_datetime_format=True)

aapl_stock_df.head(5)

                Open      High       Low     Close  Adj Close      Volume
Date
2008-09-29  4.272143  4.274286  3.592500  3.759286   3.195178  2622057200
2008-09-30  3.866071  4.107143  3.796429  4.059286   3.450161  1626682400
2008-10-01  3.997143  4.012857  3.835357  3.897143   3.312349  1296484000
2008-10-02  3.857500  3.885357  3.571429  3.575000   3.038546  1609364400
2008-10-03  3.714286  3.803571  3.380357  3.466786   2.946569  2294398400

In [8]:
list(aapl_stock_df)

['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

In [9]:
# Make Close the first column
last_cols = ['Open', 'High', 'Low', 'Adj Close', 'Volume']
first_cols = [col for col in aapl_stock_df.columns if col not in last_cols]

aapl_stock_df = aapl_stock_df[first_cols+last_cols]
aapl_stock_df.head(1)

               Close      Open      High     Low  Adj Close      Volume
Date
2008-09-29  3.759286  4.272143  4.274286  3.5925   3.195178  2622057200

In [10]:
aapl_stock_df = aapl_stock_df.filter(['Close','Volume'])

In [11]:
aapl_stock_df.head()

               Close      Volume
Date
2008-09-29  3.759286  2622057200
2008-09-30  4.059286  1626682400
2008-10-01  3.897143  1296484000
2008-10-02  3.575000  1609364400
2008-10-03  3.466786  2294398400

In [12]:
# Merge Apple stock and Apple fundamental into a single dataframe
aapl_df = aapl_stock_df.merge(aapl_fundamentals_df, how='left',
        left_index=True,
        right_index=True)

# Save 
aapl_df.to_csv('data/aapl_daily_df.csv')

In [13]:
# start LSTM Module (will be saved into it's own python file

In [14]:
aapl_df.head()

               Close      Volume  Market Capitalization  Operating Expenses to Revenue  Operating Cash Flow to CapEx
Date
2008-09-29  3.759286  2622057200           6.566631e+10                        0.11835                     11.616519
2008-09-30  4.059286  1626682400           6.566631e+10                        0.11835                     11.616519
2008-10-01  3.897143  1296484000           6.566631e+10                        0.11835                     11.616519
2008-10-02  3.575000  1609364400           6.566631e+10                        0.11835                     11.616519
2008-10-03  3.466786  2294398400           6.566631e+10                        0.11835                     11.616519